# This is jgcodes's personal .clang-format file,

---
Language: Cpp
BasedOnStyle: Chromium
IndentWidth: 4

AccessModifierOffset: -4
AlignAfterOpenBracket: AlwaysBreak
AlignConsecutiveAssignments: Consecutive
AlignEscapedNewlines: Left
AlignOperands: DontAlign

AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: Inline

BinPackArguments: true
BinPackParameters: true

BreakBeforeBraces: Custom
BraceWrapping:
  AfterControlStatement: Never
  
  AfterCaseLabel: false
  AfterClass: false
  AfterEnum: false
  AfterFunction: false
  AfterNamespace: false
  AfterStruct: false
  AfterUnion: false
  AfterExternBlock: false
  
  BeforeCatch: true
  BeforeElse: true
  
  BeforeLambdaBody: false
  BeforeWhile: false
  
  IndentBraces: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false

BreakBeforeTernaryOperators: false

BreakStringLiterals: false
BreakInheritanceList: AfterColon
BreakConstructorInitializers: AfterColon

ContinuationIndentWidth: 4
ConstructorInitializerIndentWidth: 4
Cpp11BracedListStyle: true
IncludeCategories:
  # POSIX
  - Regex: '^<[^.]+\.h>'
    Priority: 1
  - Regex: '^<([^.]+)>$'
    Priority: 2
  - Regex: '^<([^.].h(pp|xx|h))>$'
    Priority: 3
IndentPPDirectives: BeforeHash
IndentCaseLabels: false

NamespaceIndentation: All
PointerAlignment: Left

SpaceAfterCStyleCast: true
SpaceBeforeCtorInitializerColon: true
SpaceBeforeCpp11BracedList: true
SpaceAroundPointerQualifiers: Before

LambdaBodyIndentation: OuterScope

Standard: Cpp11

UseTab: Never
