# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch
*.ipch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Misc
*.suo
*.db
*.db-shm
*.db-wal
*.opendb
*.ilk
*.pdb
*.csv
*.recipe
*.log
*.tlog
*.ipdb
*.iobj
*.lastbuildstate
*.idb

# Build folder
build/